.center_style
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.createbook{
    background-color: #fff;
    padding-right: 30px;
    padding-left: 90px;
}